body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
h4 {
  font-weight: 400;
}

header {
  height: 10vh;
  width: 100%;
  /* background-image: linear-gradient(to right top, #6ee674, #00dca3, #00cdc6, #00bbd7, #32a7d3, #3e9dd4, #5291d1, #6685cb, #5e7eda, #5b76e7, #606cf2, #6c5ffb); */
  background: linear-gradient(to right, #7d019b, #69028f, #560283, #440277, #31016a);
  /* background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg); */
  /* position: absolute; */
  /* top: -198px; */
  /* width: 6400px;
  height: 198px; */
  color: white;
}

/* header::before {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg), linear-gradient(to right top, #6ee674, #00dca3, #00cdc6, #00bbd7, #32a7d3, #3e9dd4, #5291d1, #6685cb, #5e7eda, #5b76e7, #606cf2, #6c5ffb);
  background-size: cover;
  background-blend-mode: exclusion;
	opacity: .4;
  height: 10vh;
  width: 100%;
} */

header h2 {
  font-size: 2rem;
  padding: 4px;
  text-decoration: overline underline;
}

section {
  /* background-image: linear-gradient(to right bottom, #00e7ff, #5bdbdb, #7dcdbf, #92beac, #9eb0a2); */
  /* background-color: rgba(255, 255, 255, 0.1); */
  /* background-image: linear-gradient(to right top, #6ee674, #00dca3, #00cdc6, #00bbd7, #32a7d3, #3e9dd4, #5291d1, #6685cb, #5e7eda, #5b76e7, #606cf2, #6c5ffb); */
  /* background-image: linear-gradient(to right, #085ad5, #1445ba, #1630a0, #141b86, #0f036d); */
  background-image: linear-gradient(to right, #394667, #3a4768, #3b4769, #3c486a, #3d486b);
  background-blend-mode: lighten;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-weight: 300;
  min-height: 90vh;
}

a {
  text-decoration: none;
}

a:visited {
  color: #00E380;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article h3 {
  color: white;
  margin: 1rem;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.nums {
  color: #00E380;
}

.btn {
  border-radius: 0;
  width: 50%;
  height: 2rem;
  border: none;
  background-color: black;
  color: white;
}

.btn:hover {
  border: 1px solid white;
}

.feed-btn {
  height: 1.5rem;
  width: 3rem;
  background-image: linear-gradient(to right, #7d019b, #69028f, #560283, #440277, #31016a);
  background-color: black;
  border-radius: 0;
  border: none;
  color: white;
  font-size: 12px;
  /* margin-left: 12px; */
}

.feed-btn:disabled {
  background-image: none;
  background-color: grey !important;
}

.card-container {
  width: 90%;
}

.doggo-card h4 {
  font-size: 0.8rem;
  color: #00E380;
}

.doggo-card {
  height: 120px;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.4); */
  /* background-image: linear-gradient(to right, #475b8e, #435482, #3e4d77, #3a476c, #354061); */
  background-image: linear-gradient(to right, #626b85, #57607c, #4b5573, #404a6a, #354061);
  border-radius: 0.3rem;
  box-shadow: 0 0 0 1px #383E4F;
  justify-content: center;
  margin-bottom: 1rem;
  /* padding: 1% 0; */
}

.doggo-title {
  height: 80%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
  /* margin-right: 4rem; */
}

.doggo-title h4 {
  width: 80px;
  text-align: center;
}

.doggo-title div {
  height: 60px;
  width: 60px;
  /* background-size: 150px 200px;
  background-position: center; */
  /* border-radius: 6rem; */
  box-shadow: 0 0 1px 1px #383E4F;
}

.franklin {
  background-image: url("./Franklin.jpg");
  /* background-size: 100px 120px; */
  background-size: 50px 60px;
  background-position: center;
}

.zero {
  background-image: url("./Zero.jpg");
  background-size: contain;
  /* background-position: center; */
}

.pawblo {
  background-image: url("./Pawblo.jpg");
  background-repeat: no-repeat;
  /* background-size: 80px 120px; */
  background-size: 60px 100px;
  background-position: center;
}

.status {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  align-self: center;
  /* flex-direction: column; */
  justify-content: center;
  /* padding: 10px 0; */
}

.status div {
  text-align: center;
}

.status div p {
  font-size: 0.8rem;
  /* margin-bottom: 4px; */
}

.bfast,
.dinner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: 50%;
}

.bfast-status,
.dinner-status {
  display: flex;
  justify-content: space-evenly;
  /* align-items: stretch; */
  width: 80%;
  /* height: 70%; */
}

.checked {
  background-image: url("./checked.svg");
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
}

.unchecked {
  background-image: url("./cancel2.svg");
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
}

small {
  font-size: 10px;
  color: gray;
  /* word-wrap: normal; */
  text-align: center;
  height: 24px;
  width: 70%;
}

@media screen and (min-width: 720px) {
  header h2 {
    font-size: 2.5rem;
  }

  .feed-btn {
    /* width: 50%; */
  }

  .status {
    width: 70%;
  }

  .status div {
    padding: 10px;
  }

  .bfast,
  .dinner {
    /* height: contain; */
    width: 100%;
    height: 68%;
    padding: 0.6rem;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .doggo-title {
    /* width: 30%; */
  }

  .card-container {
    width: 70%;
  }

  .status {
    flex-direction: row;
    align-items: center;
    /* width: 50%; */
  }

  .bfast-status,
  .dinner-status {
    width: 60%;
    /* height: 68%; */
  }

  small {
    font-size: 12px;
  }
}

@media screen and (min-width: 1400px) {
  .card-container {
    width: 60%;
  }

  .doggo-title {
    /* width: 20%; */
  }

  .bfast-status,
  .dinner-status {
    width: 65%;
  }

}

@media screen and (min-width: 1900px) {
  .card-container {
    width: 50%;
  }
}
