body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
h4 {
  font-weight: 400;
}

header {
  height: 10vh;
  width: 100%;
  /* background-color: #3B4A3F; */
  /* background-image: linear-gradient(to right top, #6ee674, #00dca3, #00cdc6, #00bbd7, #32a7d3, #3e9dd4, #5291d1, #6685cb, #5e7eda, #5b76e7, #606cf2, #6c5ffb); */
  background-image: linear-gradient(to right, #7d019b, #69028f, #560283, #440277, #31016a);
  color: white;
}

header h2 {
  text-decoration: overline underline;
  padding: 4px;
}

section {
  /* background-image: linear-gradient(to right bottom, #00e7ff, #5bdbdb, #7dcdbf, #92beac, #9eb0a2); */
  /* background-image: url('./hardwood.jpg'); */
  /* background-color: rgba(255, 255, 255, 0.1); */
  /* background-image: linear-gradient(to right top, #6ee674, #00dca3, #00cdc6, #00bbd7, #32a7d3, #3e9dd4, #5291d1, #6685cb, #5e7eda, #5b76e7, #606cf2, #6c5ffb); */
  /* background-image: linear-gradient(to right, #085ad5, #1445ba, #1630a0, #141b86, #0f036d); */
  background-image: linear-gradient(to right, #394667, #3a4768, #3b4769, #3c486a, #3d486b);
  background-blend-mode: lighten;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-weight: 300;
  min-height: 90vh;
}

a {
  text-decoration: none;
}

a:visited {
  color: #00E380;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article h3 {
  color: white;
  margin: 1rem;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.nums {
  color: #00E380;
}

.btn {
  border-radius: 0;
  width: 50%;
  height: 2rem;
  border: none;
  /* box-shadow: 2px 2px 2px 1px gray; */
  background-color: black;
  color: white;
}

.btn:hover {
  outline: 1px solid white;
}


.card-container {
  width: 90%;
}

.doggo-card h4 {
  /* width: 30%; */
  /* align-self: center; */
}

.doggo-card {
  height: 150px;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.4); */
  background-image: linear-gradient(to right, #475b8e, #435482, #3e4d77, #3a476c, #354061);
  border-radius: 1rem;
  box-shadow: 0 0 0 1px #383E4F;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  padding: 1% 0;
}

.doggo-title {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-evenly;
  margin-right: 4rem;
}

.doggo-title h4 {
  width: 100%;
  text-align: center;
}

.doggo-title img {
  height: 100px;
  width: 100px;
  background-color: gray;
  border-radius: 6rem;
  box-shadow: 0 0 1px 1px #383E4F;
}

.status {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.status div {
  text-align: center;
}

.bfast-status,
.dinner-status {
  display: flex;
  justify-content: space-evenly;
}

small {
  font-size: 10px;
  color: gray;
}
